.video-js {
  height: 344px;
  width: 610px;
  margin: 0 auto;
}

.wrap {
  border: 5px solid;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  padding: 10px;
  text-align: center;
}

.theFormInput {
  border-radius: 8px;
  color: #FF0000;
}

.theForm {
  margin-top: 15px;
  padding: 5px;
  color: #FF0000;
}
